@media(min-width: 400px){
li{list-style-type: none;}


#Barrita{display:grid;
grid-template-columns: 0.5fr 1.5fr 1fr 1.5fr 0.5fr;}

.grid{
    display: grid;
}
.Todo{ 
    grid-template-rows: 20% 80%;
}
.BarraTop{
    background-color: pink;
    width: 100%;
    height: 200px;
}
#Perfil{display: flex; justify-content: flex-end;}
#Logo{display: flex; justify-content: center;}
#ParaTi{display: flex; justify-content: center;}
#playlist{display: flex; justify-content: center;}
}