body{
    background-color: black;
}
    @media (min-width:760px){
      
            body{
                background-color: rgb(37, 37, 37);}
                   #Perfil {display: flex; justify-content: center;
                   font-size: 20px;
                   padding-top: 8px;}
                   div a{
                       color: crimson;
                   }
                   #Logo{display: flex; justify-content: center;
                       font-size: 20px;
                   padding-top: 8px;}
                   #ParaTi{display: flex; justify-content: center;
                   font-size: 20px;
                   padding-top: 5px;}
                   #Biblio{display: flex; justify-content: center;
                   font-size: 20px; padding-top: 5px;}
                   #Ajust{display: flex; justify-content: center;
                       font-size: 20px;
                       padding-top: 8px;
                   }
                       #Barrita{ color: crimson;
                           background-color: black;
                           height: 38px;
                           display:grid;
                       grid-template-columns: 0.5fr 1.5fr 1fr 1.5fr 0.5fr;
                   }
                       #BarraTop{
                           position: fixed;
                           top: 0;
                           width: 100%;
                           margin: 0;}
                           #artistas-recomendados{
                               display: flex;
                               flex-direction: row;
                               justify-content: space-between;
                           flex-wrap: wrap;
                           justify-content: space-around;}
                               .artistas img{background-repeat: no-repeat;
                                   background-position: 5%;
                                   border-radius: 50%;
                                   background-size: 100% auto;
                               }
                               #generos-recomendados{
                                     display: flex;
                                   flex-direction: row;
                                   justify-content: space-between;
                                   justify-content: space-around;
                               flex-wrap: wrap;}  
                                   
                                   div.show-more{
                                       flex: row;
                                       background-color:black;
                                       padding: 5px 20px;
                                       text-align: center;}}
                                       h3{
                                           color: crimson;
                                       }

    @media (min-width:1000){
         body{
            background-color: rgb(37, 37, 37); }
            }
